html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition-duration: 0.25s;
}

#entry {
  border-top: 25px solid black;
  border-bottom: 25px solid black;
  position: relative;
  height: 100vh;
  bottom: 0;
  top: 0;
  background-image: url('./img/bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

span {
  font-size: larger;
  font-weight: 400;
  padding: 8px 4px;
}

.input-content {
  position: relative;
}

.input-content img {
  width: 25px;
  position: absolute;
  right: 12px;
  cursor: pointer;
}

.list {
  position: relative;
  width: 45%;
  margin: 45px auto;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.318);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 8px;
  background-color: whitesmoke;
}

.list > * {
  border-bottom: 1px solid #dedede;
}

.list-item {
  font-size: medium;
  text-transform: capitalize;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  padding: 6px 2px;
  position: relative;
}

.list-item img {
  position: absolute;
  right: 8px;
  cursor: move;
}

.hang {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.empty {
  text-align: center;
}

.empty img,
.empty > input {
  display: none;
}

.hide {
  display: none;
}

.empty.hide {
  visibility: hidden;
}

.hidden {
  visibility: hidden;
  height: 0.5px;
}

.hidden:focus {
  outline: 1px solid #dedede;
  background-color: antiquewhite;
}

.hidden.show {
  visibility: visible;
  width: 95%;
  margin: auto;
  border: 1px solid black;
  padding: 12px 3px;
}

#addNew {
  width: 100%;
  margin: 4px auto;
  padding: 5px 3px;
  border: none;
  border-bottom: 1px solid #dedede;
  font-style: italic;
}

#addNew:focus {
  outline: 1px solid #dedede;
  width: 98%;
  margin: auto;
}

footer {
  background-color: #dedede;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-radius: 0  0 8px 8px;
}

#clear {
  border: none;
  background-color: inherit;
  cursor: pointer;
  text-transform: capitalize;
}

@media screen and (max-width: 765px) {
  .list {
    width: 85%;
  }
}